a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
body {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url("https://picsum.photos/2000/2000");
  background-size: auto;
}
#amk {
  font-family: sans-serif;
  font-size: 2.6em;
}

#yellow {
  color: #fecb00;
}

#green {
  color: #34b233;
}

#red {
  color: #ea2839;
}
